<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PesquisaHospedeController</servlet-name>
        <servlet-class>Controller.PesquisaHospedeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAcompanhanteController</servlet-name>
        <servlet-class>Controller.PesquisaAcompanhanteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaConsumoController</servlet-name>
        <servlet-class>Controller.PesquisaConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>Controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarHospedagemController</servlet-name>
        <servlet-class>Controller.PesquisarHospedagemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarItemConsumoController</servlet-name>
        <servlet-class>Controller.PesquisarItemConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarItemFrigobarController</servlet-name>
        <servlet-class>Controller.PesquisarItemFrigobarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaOpcaoRestauranteController</servlet-name>
        <servlet-class>Controller.PesquisaOpcaoRestauranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarPagamentoController</servlet-name>
        <servlet-class>Controller.PesquisarPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuartoController</servlet-name>
        <servlet-class>Controller.PesquisaQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarQuartoController</servlet-name>
        <servlet-class>Controller.PesquisarQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSolicitacaoController</servlet-name>
        <servlet-class>Controller.PesquisarSolicitacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTipoQuartoController</servlet-name>
        <servlet-class>Controller.PesquisarTipoQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAcompanhanteController</servlet-name>
        <servlet-class>Controller.ManterAcompanhanteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterConsumoController</servlet-name>
        <servlet-class>Controller.ManterConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>Controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterOpcaoRestauranteController</servlet-name>
        <servlet-class>Controller.ManterOpcaoRestauranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterQuartoController</servlet-name>
        <servlet-class>Controller.ManterQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterHospedagemController</servlet-name>
        <servlet-class>Controller.ManterHospedagemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItemConsumoController</servlet-name>
        <servlet-class>Controller.ManterItemConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItemFrigobarController</servlet-name>
        <servlet-class>Controller.ManterItemFrigobarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPagamentoController</servlet-name>
        <servlet-class>Controller.ManterPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterSolicitacaoController</servlet-name>
        <servlet-class>Controller.ManterSolicitacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTipoQuartoController</servlet-name>
        <servlet-class>Controller.ManterTipoQuartoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaHospedeController</servlet-name>
        <url-pattern>/PesquisaHospedeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAcompanhanteController</servlet-name>
        <url-pattern>/PesquisaAcompanhanteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaConsumoController</servlet-name>
        <url-pattern>/PesquisaConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarHospedagemController</servlet-name>
        <url-pattern>/PesquisarHospedagemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarItemConsumoController</servlet-name>
        <url-pattern>/PesquisarItemConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarItemFrigobarController</servlet-name>
        <url-pattern>/PesquisarItemFrigobarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaOpcaoRestauranteController</servlet-name>
        <url-pattern>/PesquisaOpcaoRestauranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarPagamentoController</servlet-name>
        <url-pattern>/PesquisarPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaQuartoController</servlet-name>
        <url-pattern>/PesquisaQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarQuartoController</servlet-name>
        <url-pattern>/PesquisarQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSolicitacaoController</servlet-name>
        <url-pattern>/PesquisarSolicitacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTipoQuartoController</servlet-name>
        <url-pattern>/PesquisarTipoQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAcompanhanteController</servlet-name>
        <url-pattern>/ManterAcompanhanteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterConsumoController</servlet-name>
        <url-pattern>/ManterConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterOpcaoRestauranteController</servlet-name>
        <url-pattern>/ManterOpcaoRestauranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterQuartoController</servlet-name>
        <url-pattern>/ManterQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterHospedagemController</servlet-name>
        <url-pattern>/ManterHospedagemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItemConsumoController</servlet-name>
        <url-pattern>/ManterItemConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItemFrigobarController</servlet-name>
        <url-pattern>/ManterItemFrigobarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPagamentoController</servlet-name>
        <url-pattern>/ManterPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterSolicitacaoController</servlet-name>
        <url-pattern>/ManterSolicitacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTipoQuartoController</servlet-name>
        <url-pattern>/ManterTipoQuartoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
