<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PesquisaHospedeController</servlet-name>
        <servlet-class>Controller.PesquisaHospedeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaConsumoController</servlet-name>
        <servlet-class>Controller.PesquisaConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>Controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterHospedeController</servlet-name>
        <servlet-class>Controller.ManterHospedeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaItemConsumoController</servlet-name>
        <servlet-class>Controller.PesquisaItemConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaItemFrigobarController</servlet-name>
        <servlet-class>Controller.PesquisaItemFrigobarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaOpcaoRestauranteController</servlet-name>
        <servlet-class>Controller.PesquisaOpcaoRestauranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <servlet-class>Controller.PesquisaPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuartoController</servlet-name>
        <servlet-class>Controller.PesquisaQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuartoController</servlet-name>
        <servlet-class>Controller.PesquisaQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPrestacaoServicoController</servlet-name>
        <servlet-class>Controller.PesquisaPrestacaoServicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTipoQuartoController</servlet-name>
        <servlet-class>Controller.PesquisaTipoQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterConsumoController</servlet-name>
        <servlet-class>Controller.ManterConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>Controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterOpcaoRestauranteController</servlet-name>
        <servlet-class>Controller.ManterOpcaoRestauranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterQuartoController</servlet-name>
        <servlet-class>Controller.ManterQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterHospedagemController</servlet-name>
        <servlet-class>Controller.ManterHospedagemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItemConsumoController</servlet-name>
        <servlet-class>Controller.ManterItemConsumoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItemFrigobarController</servlet-name>
        <servlet-class>Controller.ManterItemFrigobarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPagamentoController</servlet-name>
        <servlet-class>Controller.ManterPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPrestacaoServicoController</servlet-name>
        <servlet-class>Controller.ManterPrestacaoServicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTipoQuartoController</servlet-name>
        <servlet-class>Controller.ManterTipoQuartoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaServicoController</servlet-name>
        <servlet-class>Controller.PesquisaServicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterServicoController</servlet-name>
        <servlet-class>Controller.ManterServicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaReservaController</servlet-name>
        <servlet-class>Controller.PesquisaReservaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterReservaController</servlet-name>
        <servlet-class>Controller.ManterReservaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarCheckoutController</servlet-name>
        <servlet-class>Controller.RealizarCheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAtendimentoRestauranteController</servlet-name>
        <servlet-class>Controller.PesquisaAtendimentoRestauranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaHospedagensAtivasController</servlet-name>
        <servlet-class>Controller.PesquisaHospedagensAtivasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAtendimentoRestauranteController</servlet-name>
        <servlet-class>Controller.ManterAtendimentoRestauranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarCheckinController</servlet-name>
        <servlet-class>Controller.RealizarCheckinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaHospedagemController</servlet-name>
        <servlet-class>Controller.PesquisaHospedagemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>Exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaHospedeController</servlet-name>
        <url-pattern>/PesquisaHospedeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaConsumoController</servlet-name>
        <url-pattern>/PesquisaConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterHospedeController</servlet-name>
        <url-pattern>/ManterHospedeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaItemConsumoController</servlet-name>
        <url-pattern>/PesquisaItemConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaItemFrigobarController</servlet-name>
        <url-pattern>/PesquisaItemFrigobarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaOpcaoRestauranteController</servlet-name>
        <url-pattern>/PesquisaOpcaoRestauranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <url-pattern>/PesquisaPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaQuartoController</servlet-name>
        <url-pattern>/PesquisaQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPrestacaoServicoController</servlet-name>
        <url-pattern>/PesquisaPrestacaoServicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTipoQuartoController</servlet-name>
        <url-pattern>/PesquisaTipoQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterConsumoController</servlet-name>
        <url-pattern>/ManterConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterOpcaoRestauranteController</servlet-name>
        <url-pattern>/ManterOpcaoRestauranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterQuartoController</servlet-name>
        <url-pattern>/ManterQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterHospedagemController</servlet-name>
        <url-pattern>/ManterHospedagemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItemConsumoController</servlet-name>
        <url-pattern>/ManterItemConsumoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItemFrigobarController</servlet-name>
        <url-pattern>/ManterItemFrigobarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPagamentoController</servlet-name>
        <url-pattern>/ManterPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPrestacaoServicoController</servlet-name>
        <url-pattern>/ManterPrestacaoServicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTipoQuartoController</servlet-name>
        <url-pattern>/ManterTipoQuartoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaServicoController</servlet-name>
        <url-pattern>/PesquisaServicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterServicoController</servlet-name>
        <url-pattern>/ManterServicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaReservaController</servlet-name>
        <url-pattern>/PesquisaReservaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterReservaController</servlet-name>
        <url-pattern>/ManterReservaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarCheckoutController</servlet-name>
        <url-pattern>/RealizarCheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAtendimentoRestauranteController</servlet-name>
        <url-pattern>/PesquisaAtendimentoRestauranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaHospedagensAtivasController</servlet-name>
        <url-pattern>/PesquisaHospedagensAtivasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAtendimentoRestauranteController</servlet-name>
        <url-pattern>/ManterAtendimentoRestauranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarCheckinController</servlet-name>
        <url-pattern>/RealizarCheckinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaHospedagemController</servlet-name>
        <url-pattern>/PesquisaHospedagemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/TratamentoExcecao</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/TratamentoExcecao</location>
    </error-page>
</web-app>
